body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F6F7F8;
}

h1 {
  color: #007bff;
}

h2 {
  color: #00487C;
}

.jumbotron {
  background-color: #00487C;
  color: #F6F7F8;
}

.display-4 {
  font-weight: 400;
  line-height: 1.5;
}

.form-group {
  margin-bottom: 2rem;
}

button {
  margin-bottom: 1.5rem;
}

#try-again {
  display: none;
}

#output {
  display: none;
}

.language {
  color: #007bff;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
